<section style="margin-top: 2rem; display: grid; gap: 1rem;">
    {{#each query}}
        <div style="border: 1px solid #ccc; border-radius: 4px; display: flex; gap: 1rem; padding: 1rem; align-items: center;">
            <img src="{{foto}}" width="50" height="50" alt="">
            <p>Marca: {{marca}}</p>
            <p>modelo: {{modelo}}</p>
            <p>Potencia: {{potencia}}</p>
            <a href="/cars/edit/{{id}}" style="border: 0; background: orange; font-weight: bold; color: #fff; padding: .5rem 1rem; border-radius: 4px; text-decoration: none;">Editar</a>
            <a href="/cars/delete/{{id}}" style="border: 0; background: red; font-weight: bold; color: #fff; padding: .5rem 1rem; border-radius: 4px; text-decoration: none;">Borrar</a>
        </div>
    {{/each}}
</section>