<form action="/cars/edit/{{id}}" method="post" style="display: grid; gap: 1rem; margin-top: 2rem;">
    <input type="text" name="marca" style="border: 0; box-shadow: 2px 2px 10px; border-radius: 4px; padding: .5rem 1rem;" value="{{marca}}" placeholder="marca">
    <input type="text" name="modelo" style="border: 0; box-shadow: 2px 2px 10px; border-radius: 4px; padding: .5rem 1rem;" value="{{modelo}}" placeholder="modelo">
    <input type="text" name="potencia" style="border: 0; box-shadow: 2px 2px 10px; border-radius: 4px; padding: .5rem 1rem;" value="{{potencia}}" placeholder="potencia">
    <input type="text" name="foto" style="border: 0; box-shadow: 2px 2px 10px; border-radius: 4px; padding: .5rem 1rem;" value="{{foto}}" placeholder="foto">
    <button style="margin: auto; width: fit-content; background: green; color: #fff; border: 0; padding: .5rem 1rem; border-radius: 4px;" type="submit">Editar coche</button>
</form>